* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    background: #333;
    counter-reset: flags;
}

.info {
    font-weight: normal;
    margin-top: 0.5rem;
    text-align: center;
    color: white;
}

.flags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding-top: 5rem;
}

.flags::after {
    color: white;
    content: "Total Flags -" counter(flags);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 3rem;
    display: block;
    text-align: center;
    right: 0;
    margin-top: 1rem;
    text-shadow: 1px 1px 0 #000;
}

.flag {
    width: 500px;
    height: 300px;
    margin: 1rem;
    position: relative;
    overflow: hidden;
    counter-increment: flags;
}

.flag::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    z-index: 1;
    text-shadow: -1px -1px black, 0 0 5px black;
}

.flag:hover::after {
    opacity: 1;
}

.armenia {
    --red: #FF0000;
    --blue: #0000AA;
    --orange: #FF9900;
    background-image: linear-gradient(to bottom, var(--red) 33.33%, var(--blue) 0, var(--blue) 66.66%, var(--orange) 0);
}

.armenia::after {
    content: 'armenia';
}

.austria {
    --red: #D81E05;
    background-image: linear-gradient(to bottom, var(--red) 33.33%, white 0, white 66.66%, var(--red) 0);
}

.austria::after {
    content: 'austria';
}

.bahamas {
    --blue: #00ABC9;
    --yellow: #FAE042;
    background-image: linear-gradient(to bottom, var(--blue) 33.33%, var(--yellow) 0, var(--yellow) 66.66%, var(--blue) 0);
}

.bahamas::before {
    position: absolute;
    content: '';
    width: 300px;
    height: 300px;
    display: block;
    background: black;
    transform: translate3d(-50%, -50%, 0) rotateX(-45deg) rotateZ(45deg);
    top: 50%;
}

.bahamas::after {
    content: "bahamas";
}

.bangladesh {
    --green: #006A4E;
    --red: #F42A41;
    background-color: var(--green);
    background-image: radial-gradient(circle, var(--red) 100px, transparent 0);
}

.bangladesh::after {
    content: 'bangladesh';
}

.belgium {
    --yellow: #FFDE00;
    --red: #EE0000;
    background-image: linear-gradient(to right, black 33.33%, var(--yellow) 0, var(--yellow) 66.66%, var(--red) 0);
}

.belgium::after {
    content: 'belgium';
}

.benin {
    --yellow: #FCD116;
    --red: #E8112D;
    --green: #008751;
    background-image: linear-gradient(to right, var(--green) 40%, transparent 0), linear-gradient(to bottom, var(--yellow) 50%, var(--red) 0);
}

.benin::after {
    content: 'benin';
}

.bolivia {
    --red: #CE1126;
    --yellow: #F9D616;
    --green: #007A3D;
    background-image: linear-gradient(to bottom, var(--red) 33.33%, var(--yellow) 0, var(--yellow) 66.66%, var(--green) 0);
}

.bolivia::after {
    content: 'bolivia';
}

.bosnia-and-herzegovina {
    --blue: #171796;
    --yellow: #F7D117;
    background-color: var(--blue);
    background-image: linear-gradient(to bottom left, var(--yellow) 50%, transparent 0);
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: calc(100% - 30%) 0;
}

.bosnia-and-herzegovina::before {
    position: absolute;
    content: '★';
    color: white;
    font-size: 60px;
    left: 10%;
    display: inline-block;
    top: -15%;
    text-shadow: 37.5px 37.5px, 75px 75px, 112.5px 112.5px, 150px 150px, 187.5px 187.5px, 225px 225px, 262.5px 262.5px, 300px 300px;
}

.bosnia-and-herzegovina::after {
    content: 'bosnia and herzegovina';
}

.botswana {
    --blue: #75AADB;
    background-image: linear-gradient(to bottom, var(--blue) calc(50% - 3rem), white 0, white calc(50% - 2rem), black 0, black calc(50% + 2rem), white 0, white calc(50% + 3rem), var(--blue) 0);
}

.botswana::after {
    content: 'botswana';
}

.bulgaria {
    --red: #D62612;
    --green: #00966E;
    background-image: linear-gradient(to bottom, white 33.33%, var(--green) 0, var(--green) 66.66%, var(--red) 0);
}

.bulgaria::after {
    content: 'bulgaria';
}

.burkina-faso {
    --red: #EF2B2D;
    --yellow: #FCD116;
    --green: #009E49;
    background-image: linear-gradient(to bottom, var(--red) 50%, var(--green) 0);
}

.burkina-faso::before {
    position: absolute;
    content: '★';
    color: var(--yellow);
    font-size: 6rem;
    text-align: center;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
}

.burkina-faso::after {
    content: 'Burkina Faso';
}

.burundi {
    --green: #1EB53A;
    --red: #CE1126;
    background-color: var(--green);
    background-image: radial-gradient(circle, white 100px, transparent 0), linear-gradient(to bottom right, transparent calc(50% - 1.5rem), white 0, white calc(50% + 1.5rem), transparent 0), linear-gradient(to bottom left, transparent calc(50% - 1.5rem), white 0, white calc(50% + 1.5rem), transparent 0), linear-gradient(to bottom right, var(--red) 25%, transparent 25%, transparent 75%, var(--red) 75%, var(--red)), linear-gradient(to bottom left, var(--red) 25%, transparent 25%, transparent 75%, var(--red) 75%, var(--red));
    background-position: 0 0, 0 0, 0 0, -250px 0, -250px 0;
    background-repeat: repeat;
}

.burundi::before {
    position: absolute;
    content: '✶';
    color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    height: 1em;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    filter: drop-shadow(0 0 2px var(--green));
    text-shadow: 0 -55px var(--red), 0 -55px 2px var(--green), -52.35px 22.35px var(--red), -52.35px 22.35px 2px var(--green), 50.35px 22.35px var(--red), 50.35px 22.35px 2px var(--green)
}

.burundi::after {
    content: 'Burundi';
}

.cameroon {
    --red: #CE1126;
    --green: #007A5E;
    --yellow: #FCD116;
    background-image: linear-gradient(to right, var(--green) 33.33%, var(--red) 0, var(--red) 66.66%, var(--yellow) 0);
}

.cameroon::before {
    position: absolute;
    content: '★';
    color: var(--yellow);
    font-size: 6rem;
    text-align: center;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
}

.cameroon::after {
    content: 'cameroon';
}

.cape-verde {
    --blue: #003893;
    --red: #CE1126;
    --yellow: #FCD116;
    background-image: linear-gradient(to bottom, var(--blue) 50%, white 0, white calc(50% + 8.33%), var(--red) 0, var(--red) 66.66%, white 0, white 75%, var(--blue) 0);
}

.cape-verde::before {
    position: absolute;
    content: '★';
    color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translate3d(-50%, -50%, 0);
    top: 61%;
    left: 30%;
    height: 1em;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 44.083px 60.67px var(--yellow), 71.329px 23.17px var(--yellow), 71.329px -23.17px var(--yellow), 44.083px -60.67px var(--yellow), 0 75px var(--yellow), -44.083px -60.67px var(--yellow), -71.329px -23.17px var(--yellow), -71.329px 23.17px var(--yellow), -44.083px 60.67px var(--yellow), 0 -75px var(--yellow);
}

.cape-verde::after {
    content: 'cape verde'
}

.central-african-republic {
    --blue: #003082;
    --green: #289728;
    --yellow: #FFCE00;
    --red: #D21034;
    background-image: linear-gradient(to right, transparent calc(50% - 37.5px), var(--red) 0, var(--red) calc(50% + 37.5px), transparent 0), linear-gradient(to bottom, var(--blue) 25%, white 0, white 50%, var(--green) 0, var(--green) 75%, var(--yellow) 0);
}

.central-african-republic::before {
    position: absolute;
    content: '★';
    color: var(--yellow);
    top: -10px;
    left: 50px;
    font-size: 5rem;
}

.central-african-republic::after {
    content: 'central african republic'
}

.chad {
    --yellow: #FFCE00;
    --red: #D21034;
    --blue: #002569;
    background-image: linear-gradient(to right, var(--blue) 33.33%, var(--yellow) 0, var(--yellow) 66.66%, var(--red) 0);
}

.chad::after {
    content: 'chad';
}

.chile {
    --red: #D42E12;
    --blue: #0035AD;
    background-image: linear-gradient(to bottom, white 50%, var(--red) 0);
}

.chile::before {
    position: absolute;
    content: '★';
    background-color: var(--blue);
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    font-size: 5rem;
    width: 150px;
    height: 150px;
}

.chile::after {
    content: 'chile';
}

.colombia {
    --yellow: #FCD116;
    --red: #CE1126;
    --blue: #003893;
    background-image: linear-gradient(to bottom, var(--yellow) 50%, var(--blue) 0, var(--blue) 75%, var(--red) 0);
}

.colombia::after {
    content: 'colombia';
}

.costa-rica {
    --blue: #002B7F;
    --red: #CE1126;
    background-image: linear-gradient(to bottom, var(--blue) 16.665%, white 0, white 33.33%, var(--red) 0, var(--red) 66.66%, white 0, white 83.32%, var(--blue) 0);
}

.costa-rica::after {
    content: 'Costa Rica'
}

.cote-divoire {
    --orange: #F77F00;
    --green: #009E60;
    background-image: linear-gradient(to right, var(--orange) 33.33%, white 0, white 66.66%, var(--green) 0);
}

.cote-divoire::after {
    content: "Cote d'Ivoire";
    text-transform: none;
}

.cuba {
    --blue: #002A8F;
    --red: #CF142B;
    background-image: repeating-linear-gradient(to bottom, var(--blue) 0, var(--blue) 60px, white 60px, white 120px);
}

.cuba::before {
    content: '★';
    text-indent: -200px;
    color: white;
    font-size: 6rem;
    line-height: 0;
    position: absolute;
    border-left: 250px solid var(--red);
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
}

.cuba::after {
    content: "Cuba";
}

.czech-republic {
    --blue: #11457E;
    --red: #D7141A;
    background-image: linear-gradient(to bottom, white 50%, var(--red) 0);
}

.czech-republic::before {
    content: '';
    display: block;
    width: 300px;
    height: 300px;
    background: var(--blue);
    position: absolute;
    transform: translate(-50%) rotateX(45deg) rotateZ(45deg);
}

.czech-republic::after {
    content: "czech republic";
}

.congo {
    --blue: #007fff;
    --red: #ce1021;
    --yellow: #f7d618;
    background-color: var(--blue);
    background-image: linear-gradient(-21.8014deg, transparent calc(40%), var(--yellow) 0, var(--yellow) calc(40% + 5%), var(--red) 0, var(--red) calc(40% + 5% + 10%), var(--yellow) 0, var(--yellow) calc(40% + 20%), transparent 0)
}

.congo::before {
    content: '★';
    display: block;
    font-size: 125px;
    left: 1rem;
    top: 1rem;
    line-height: 1;
    color: var(--yellow);
    position: absolute;
}

.congo::after {
    content: "The Democratic Republic of the Congo";
}

.denmark {
    --red: #C60C30;
    background-color: var(--red);
    background-image: linear-gradient(to right, transparent calc(30% - 1.5rem), white 0, white calc(30% + 1.5rem), transparent 0),
    linear-gradient(to bottom, transparent calc(50% - 1.5rem), white 0, white calc(50% + 1.5rem), transparent 0)
}

.denmark::after {
    content: "Denmark";
}

.djibouti {
    --blue: #6AB2E7;
    --green: #12AD2B;
    --red: #D7141A;
    background-image: linear-gradient(to bottom, var(--blue) 50%, var(--green) 0);
}

.djibouti::before {
    content: '★';
    text-indent: -200px;
    color: var(--red);
    font-size: 6rem;
    line-height: 0;
    position: absolute;
    border-left: 250px solid white;
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
}

.djibouti::after {
    content: "djibouti";
}

.estonia {
    --blue: #4891D9;
    background-image: linear-gradient(to bottom, var(--blue) 33.33%, black 0, black 66.66%, white 0);
}

.estonia::after {
    content: 'estonia';
}

.finland {
    --blue: #003580;
    background-color: white;
    background-image: linear-gradient(to right, transparent calc(30% - 2rem), var(--blue) 0, var(--blue) calc(30% + 2rem), transparent 0),
    linear-gradient(to bottom, transparent calc(50% - 2rem), var(--blue) 0, var(--blue) calc(50% + 2rem), transparent 0)
}

.finland::after {
    content: "finland";
}

.france {
    --blue: #002395;
    --red: #ED2939;
    background-image: linear-gradient(to right, var(--blue) 33.33%, white 0, white 66.66%, var(--red) 0);
}

.france::after {
    content: "France";
}